{% extends "main/home.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">Bikers Den</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>  
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item {% block contactactive %}  {% endblock contactactive %} ">
		  <a class="nav-link" href="/contact">Contact Us</a>
		</li>     
		{% if user.is_authenticated %}  
		<li class="nav-item">
		  <a class="nav-link" href="/mypass">My Pass</a>
		</li>  
		{% endif %} 
	  </ul>   
	</div>     
	  {% if user.is_authenticated %}
	  <li class="nav-item">
		<a class="btn btn-outline-success m-2 my-sm-0" href="/logout">Logout as {{user.username}} </a>
	  </li>
	  {% endif %}
	</div>
  </nav>



<div class="container text-center">
<br><br><br><br>
<h3>Your payment was successful</h3>
<br><br>
<a class="btn btn-primary text-light" href="/">Return Home</a>
<br><br>
<a class="btn btn-danger text-light" href="/cancel">Cancel Subscription</a>
</div>

{% endblock %}