{% extends "main/home.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Bikers Den</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block contactactive %}  {% endblock contactactive %} ">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>     
        {% if user.is_authenticated %}  
        <li class="nav-item">
          <a class="nav-link" href="/bookings">Booking History</a>
        </li>  
        {% endif %} 
      </ul>   
    </div>     
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="btn btn-outline-success m-2 my-sm-0" href="/logout">Logout as {{user.username}} </a>
      </li>
      {% endif %}
    </div>
</nav>
<div id="app">
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-md-4">
                <label>Enter Postcode</label>
                <input class="form-control"  v-model="postcode" type="text" placeholder="Enter Posctode">
            </div>
            <div class="col-md-4">
                <label>Select Mile Radius</label>
                <select class="form-control" v-model="mile_radius">
                    <option selected>Choose</option>
                    <option value="1">1 Mile(Approx)</option>
                    <option value="2">2 Miles(Approx)</option>
                    <option value="7">7 Miles(Approx)</option>
                    <option value="10">10 Miles(Approx)</option>
                </select>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary mt-4" v-on:click="getRest()">Submit</button>
            </div>
        </div>                          
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-sm col-xs-4" v-for="dockstation in dockstations"><br>
                <div class="card" style="width: 18rem;">
                    <img :src="dockstation.image"
                        class="card-img-top" alt=".." style="height:200px">
                    <div class="card-body">
                        <h5 class="card-title">[[dockstation.name]] </h5>
                        <p class="card-text">[[(dockstation.description).substring(0 , 40)]] </p>
                    </div>
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">[[dockstation.distance]] Miles Away!</li>
                        <li class="list-group-item">[[dockstation.address]] </li>                       
                        <li class="list-group-item">[[dockstation.postcode]] </li>                      
                    </ul>

                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Check Availibility</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
<br><br>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                postcode : '',
                mile_radius : '',
                tasks: [],
                dockstations : []
            }
        },
        created() {
            this.tasks = ['do this 🐱‍🐉', 'and that 🤳'];
        },
        methods : {
            getRest(){
                if(this.postcode == ''){
                    alert('Postcode cannot be null');
                    return;
                }
                             
                fetch(`/search/get/?postcode=${this.postcode}&mile_radius=${this.mile_radius}`)
                .then(result => result.json())
                .then(response => {
                    this.dockstations = response
                    if(response == ''){
                        alert('nothib');
                        return;
                    }
                })

            }
        }
    });
</script>
{% endblock %}